<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" />
            </div>
            <div class="form-control">
                <label for="firstName">First Name</label>
                <input name="firstName" id="firstName" type="firstName" />
            </div>
            <div class="form-control">
                <label for="lastName">Last Name</label>
                <input name="lastName" id="lastName" type="lastName" />
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input name="password" id="password" type="password">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </main>

    <%- include('../includes/end.ejs') %>